// right
.word__right {
    padding-right: 34px;

    .word__filter {
        text-align: center;
        color: $color-gray-secondary;
        line-height: 50px;
        cursor: pointer;

        &.active {
            box-shadow: 0px 0px 10px 0px rgba(199, 71, 71, 0.3);
        }
    }

    .filter__dropdown {
        margin-top: 10px;
        border-radius: 12px;
        box-shadow: 0px 0px 10px 0px rgba(84, 109, 120, 0.15);
        display: none;

        &.active {
            display: block;
        }


        &-container {
            padding-top: 37px;
            padding-bottom: 15px;
        
            .btn-danger {
                margin: 0 auto;
                display: block;
                font-size: 15px;
                padding: 0px 15px;
                padding-top: 4px;
                background: $color-red-secondary;
                border: 1px solid $color-red-secondary;
            }
        }
    }
}
