.word__container {
    padding: 155px 0px 150px 0px;
    max-width: 870px;
    margin: 0 auto;

    .form-group {
        position: relative;
    }

    .form-control:hover {
        box-shadow: 0px 0px 10px 0px rgba(199, 71, 71, 0.3);
    }

    .my__box__shadow {
        height: 44px;
        border-radius: 12px;
        font-family: $bpg-nino-mtavruli;
        box-shadow: 0px 0px 10px 0px rgba(84, 109, 120, 0.3);

        &:focus {
            box-shadow: 0px 0px 10px 0px rgba(199, 71, 71, 0.3);
        }
    }

    .form-control {
        border: 0;
    
        &::placeholder {
            font-size: 18px;
            color: #959595;
            font-family: $bpg-nino-mtavruli;
        }
    }

    .search__icon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .word__left {
        padding-left: 0;


    }


    // error word
    .error__word {
        span {
            font-size: 15px;
            line-height: 24px;
            color: #546D78;
            font-family: $bpg-nino-mtavruli;
        }

        
        .plus__icon {
            margin-left: 5px;
        }

        .btn-danger {
            margin-top: 18px;
            padding: 6px 17px;
            padding-top: 9px;
        }
    }


    // success
    .correct__word {
        border-radius: 12px;
        box-shadow: 0px 0px 10px 0px rgba(84,109,120,0.3);
        padding: 12px 16px 6px 26px;
        margin-bottom: 11px;

        &:hover .correct__word-title {
            color: $color-red;
        }

        &-title {
            color: $color-gray-secondary;
            font-family: $arial-geo;
            font-size: 16px;
            line-height: 1.8;
        }

        &-top {
            @include flex($justify: space-between, $align: flex-start);
            border-bottom: 1px solid rgba(84, 109, 120, 0.5);
            padding-bottom: 7px;

            .share__on__fb {
                box-shadow: 0px 0px 10px 0px rgba(84,109,120,0.3);

                &:hover {
                    box-shadow: 0px 0px 10px 0px rgba(199,71,71,0.3);
                }

                span {
                    display: inline-block;
                    vertical-align: middle;
                    color: #546D78;
    
                    &:nth-child(2){
                        width: 5px;
                        margin-left: 5px;
                    }
                }
            }
        }

        &-middle {
            margin-top: 11px;
            margin-bottom: 22px;
            padding-left: 25px;

            .correct--word {
                margin-bottom: 5px;

                &-text {
                    font-size: 14px;
                    font-family: $arial-geo;
                    
                   span:not(.example):hover {
                        color: $color-red;
                        cursor: pointer;
                    }
                }
            }

            .correct--main-word  {
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid rgba(84, 109, 120, 0.5);
            }
        }

        &-bottom {
            @include flex($justify: space-between);

            .user__who__added {
                display: flex;
                align-items: center;
                color: #546D78;
                font-family: $bpg-nino-mtavruli;

                img {
                    width: 23px;
                    margin-bottom: 4px;
                }
            }
        }

        .word__button {
            font-size: 10px;
            padding: 5px 14px;
            border-radius: 8px;
            display: inline-block;
            color: #546D78;
        }


        &-number {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            line-height: 28px;
            font-size: 13px;
            background: $color-red-secondary;
            font-family: $arial-geo;
        }
    }

    // right
    .word__right {
        padding-right: 34px;

        .word__filter {
            text-align: center;
            color: $color-gray-secondary;
            line-height: 50px;
            cursor: pointer;

            &.active {
                box-shadow: 0px 0px 10px 0px rgba(199, 71, 71, 0.3);
            }
        }

        .filter__dropdown {
            margin-top: 10px;
            border-radius: 12px;
            box-shadow: 0px 0px 10px 0px rgba(84, 109, 120, 0.15);
            display: none;

            &.active {
                display: block;
            }


            &-container {
                padding-top: 37px;
                padding-bottom: 27px;
            
                .btn-danger {
                  margin: 0 auto;
                  display: block;
                  font-size: 15px;
                  padding: 0px 15px;
                  padding-top: 4px;
                  background: $color-red-secondary;
                  border: 1px solid $color-red-secondary;
              }
            }
        }
    }
}