.auth__container {
    padding-top: 45px;
}


.myform {
    font-family: $Agancxad;
    padding: 0 28%;

    .form-control {
        border: 1px solid rgba(85, 110, 121, 0.3);

        &:hover {
            border: 1px solid initial;
            box-shadow: initial;
        }

        &:focus-within {
            border: 1px solid $color-red-secondary;
        }
    }

    .forgetPass {
        margin-top: 15px;
        margin-bottom: 25px;
        display: block;
        color: #3597EC;
    }

    .btn-danger {
        background: #DD6D7A;
        margin: 0 auto;
        display: block;
        border-radius: 12px;
        font-size: 15px;
        padding: 10px 20px;
        padding-bottom: 5px;
    }

    label {
        font-size: 16px;
        color: #546D78;
        line-height: 28px;
    }
}



.register__title {
    margin-bottom: 46px;
}

.register__btn {
    margin-top: 21px;
}


.facebook__login {
    background: #315D99;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: $arial-geo;

    &:hover {
        color: #fff;
    }
}