// colors
$color-red: #E03348;
$color-red-secondary: #DD6D7A;
$color-blue: #556E79;
$color-gray-secondary: #768A92;


// fonts
$arial-geo: 'Arial GEO';
$bpg-boxo: 'BPG Boxo';
$bpg-nino-mtavruli: 'BPG Nino Mtavruli';
