.user__page.word__container {
    padding-top: 60px;
}

.my__words {
    &-ul {
        border-radius: 6px;
        overflow: hidden;
    }

    &-li {
        @include flex($align: center, $justify: space-between);
        padding: 9px 15px;

        &:nth-child(odd) {
            background: #F5F5F5;
        }


        a {
            color: #3DB39E;
            line-height: 1.3;
            z-index: 1333;
            position: relative;

            &:not(.pending) {
                &::after {
                    content: '';
                    position: absolute;
                    right: -20px;
                    background-image: url('../images/check-mark.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 14px;
                    height: 15px;
                }
            }

            &:hover {
                color: $color-red;
            }
        }

        .word__received {
            color: #3DB39E;
        }

        .pending {
            color: #F77834;
        }
    }

    &-icon {
        width: 25px;
        height: 25px;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;

        &:nth-child(1) {
            margin-right: 12px;
        }
    }

    .pending {
        a {
            color: #FD8F25;
        }
    }
    


    // pagination   
    .pagination {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        justify-content: center;

        &.active {
            background: #DD6D7A;
        }

        a {
            color: #DD6D7A;
            font-size: 18px;
            font-family: "Arial GEO";
        }

        &.active {
            a {
                color: #fff;
            }
        }
    }
}

